*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
   font-family: "poppins";
   src:url("./assets/fonts/Poppins-Regular.ttf");
}

 body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 94%);
    color: #fff;
    font-family: 'poppins';
 }
 #container {
    width: 500px;
    overflow: hidden;
    text-align: center;
 }
 /* Form */
 form {
   display: grid;
   grid-template-columns: repeat(3, 100px);
   width: 500px;
   justify-content: center;
   gap: 12px;
   margin: 0 0 12%;
}

 form .form-field {
    display: flex;
    flex-direction: column;
    
 }

 .form-field label {
   font-size: 15px;
   text-transform: uppercase;
   color: hsl(0, 1%, 44%);
   text-align: left;
 }

 .form-field input {
   height: 40px;
   padding: 5px;
   border: 1px solid transparent;
   font-size: 25pfieldx;
   color: hsl(0, 0%, 8%);
}

.form-field input:hover {
   cursor: pointer;
   border: 1px solid hsl(259, 100%, 65%);
}

.form-field input:focus {
   border: 2px solid hsl(259, 100%, 65%);

   outline: none;
}

.form-field small {
   color: red;
   text-align: left;
}

/* Arrow Button */
/* img {
   width: 100px;
   height: 100px;
} */
#arrow {
   width: 60px;
   height: 60px;
   background-color: hsl(259, 100%, 65%);
   padding: 15px;
   border-radius: 50%;
   /* color: #fff; */
}

#arrow:hover {
   background-color: hsl(259, 79%, 54%);
}

.output {
   font-size: 32px;
   font-weight: bold;
   color: hsl(0, 0%, 8%);
}

.output small {
   color: hsl(259, 100%, 65%);
}